@using Microsoft.AspNetCore.Identity
@using TaskManager.Data

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaskManager.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

       
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Task Manager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" >
                    <ul class="navbar-nav flex-grow-1">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Task" asp-action="Index">Task</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Reports</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Functions" asp-action="Index">Functions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Department" asp-action="Index">Department</a>
                            </li>
                        

                            <li class="nav-item dropdown">
                              @*  <a data-toggle="dropdown" class="dropdown-toggle nav-link" href="#"><span class="glyphicon glyphicon-list-alt"></span> Manage <b class="caret"></b></a>*@
                                <button class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        Manage
                                    </button>
                                <ul class="dropdown-menu">
                                     <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Employee</a>
                                    </li>
                                     <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Project</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Functions" asp-action="Index">Functions</a>
                                    </li>
                                     <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Role</a>
                                    </li>
                                     <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Epic</a>
                                    </li>
                                     <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="Index">Team</a>
                                    </li>
                                     <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Customer</a>
                                    </li>
                                
                                     <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Department" asp-action="Index">Department</a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />                    

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="fixed-bottom footer text-muted">
        <div class="container">
            &copy; 2022 - TaskManager - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>        
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
