################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TaskManager/FileContentIndex
/TaskManager/bin/Debug/net6.0/cs
/TaskManager/bin/Debug/net6.0/de
/TaskManager/bin/Debug/net6.0/es
/TaskManager/bin/Debug/net6.0/fr
/TaskManager/bin/Debug/net6.0/it
/TaskManager/bin/Debug/net6.0/ja
/TaskManager/bin/Debug/net6.0/ko
/TaskManager/bin/Debug/net6.0/pl
/TaskManager/bin/Debug/net6.0/pt-BR
/TaskManager/bin/Debug/net6.0/ru
/TaskManager/bin/Debug/net6.0/refs
/TaskManager/bin/Debug/net6.0/tr
/TaskManager/bin/Debug/net6.0/zh-Hans
/TaskManager/bin/Debug/net6.0/zh-Hant
/TaskManager/bin/Debug/net6.0/Microsoft.AspNetCore.Mvc.Razor.Extensions.dll
/TaskManager/bin/Debug/net6.0/Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation.dll
/TaskManager/bin/Debug/net6.0/Microsoft.AspNetCore.Razor.Language.dll
/TaskManager/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.dll
/TaskManager/bin/Debug/net6.0/Microsoft.CodeAnalysis.dll
/TaskManager/bin/Debug/net6.0/Microsoft.CodeAnalysis.Razor.dll
/TaskManager/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
