@model TaskManager.Model.Task_tbl

@{
    ViewBag.Title = "Edit";
}

<h3>Edit Task</h3>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
             <div class="form-group">
                <label asp-for="TaskName" class="control-label"></label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <br />

             <div class="form-group">
                <label asp-for="PriorityID" class="control-label"></label>
                <select asp-for="PriorityID" class="form-control" asp-items="ViewBag.PriorityID" ></select>
                <span asp-validation-for="PriorityID" class="text-danger"></span>
            </div>
             <br />
            <div class="form-group">
                <label asp-for="EstTime" class="control-label"></label>
                <input asp-for="EstTime" class="form-control" />
                <span asp-validation-for="EstTime" class="text-danger"></span>
            </div>
             <br />
              <div class="form-group">
                <label asp-for="EmployeeID" class="control-label"></label>
                <select asp-for="EmployeeID" class="form-control" asp-items="ViewBag.EmployeeID" ></select>
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div>
             <br />
             <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
             <br />
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                 <a type="button" class="btn btn-secondary" href="@Url.Action("Index", "Task")">Cancel</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


